*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background:linear-gradient(135deg,#000 20%,#4cb705);
}
.hide{
    display: none;
}

#container{
    background: linear-gradient(135deg,#000 20%,#4cb705);
    width: 85%;
    height: 85%;
    position: relative;
    box-shadow: 30px 30px 50px #000;
    overflow: hidden;
}
header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header a img{
    width: 60px;
}
header ul{
    display: flex;
}
header ul li {
    list-style: none;
    margin-right: 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s;
}
header ul li a:hover{
    text-decoration: underline;
}
.content{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content .image , .content .txt {
    width: 40%;
}
.content .image img{
    width: 180px;
    transform: translateX(130px);
}
#twister{
    widows: 140px;
    transform: translateX(70px);
}
.content .txt h2{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.content .txt h1{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
}
.content .txt p{
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
    
}
.content .txt a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    word-spacing: 3px;
    font-weight: 500;
    padding: 10px 18px;
    background-color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    margin-top: 8px;
    display: inline-block;
    transition: 0.4s;
}
.content .txt a:hover{
    color: #000;
    background-color: #4cb705;
    transform: scale(1.2);
}
.icons{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    margin-right: 20px;
    transition: 0.3s;
    
}
.icons img:hover{
    cursor: pointer;
    padding-bottom: 18px;
   
}
.links{
    position: absolute;
    left: 16px;
    bottom: 10px;
}
.links a img{
    width: 16px;
   
    
}
#f{
    width: 10px;
}
.links a{
    transition: 0.3s;
    padding: 9px 9px;
}
.links a:hover{
    background-color: #4cb705;
    border-radius: 50px;
    
}
#canT{
    width: 45px;
}

@media (max-width:950px) and (min-width:720px){
    .links a:hover{
        background:none;
    }
    .links a{
        padding: 6px 6px;
    }
    .links a img{
        width: 13px;
        transform: translateX(-10px);
    }
    #f{
        width: 8px;
    }
    header a img{
        width: 50px;
    }
    header ul li {
        list-style: none;
        margin-right: 17px;
    }
    header ul li a{
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        transition: 0.4s;
    }
    .content .image img{
        width: 140px;
    }
    .content .txt h2{
        color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    }
    .content .txt h1{
        color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    }
    .content .txt p{
        color: #fff;
        font-size: 18px;
        margin: 20px 0;
        
        
    }
    .content .txt a{
        font-size: 14px;
    word-spacing: 2px;
    font-weight: 400;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 30px;
    }
    .icons img{
        width: 30px;
    }
    #canT{
        width: 35px;
    }
}

@media (max-width:720px){
    .links a:hover{
        background: none;
    }
    .links a{
        padding: 4px 4px;
    }
    .links a img{
        width: 10px;
        transform: translateX(-12px);
    }
    #f{
        width: 7px;
    }
    header ul li a{
        color: #fff;
        font-size: 11px;
        text-decoration: none;
        font-weight: 400;
        transition: 0.4s;
    }
    header ul li {
        list-style: none;
        margin-right: 15px;
    }
    header a img{
        width: 35px;
    }
    .content .image img{
        width: 90px;
        transform: translateX(40px);
    }
    .content .txt h2{
        color: #fff;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    }
    .content .txt h1{
        color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    }
    .content .txt p{
        color: #fff;
        font-size: 13px;
        margin: 20px 0;
        
    }
    .content .txt a{
        font-size: 12px;
    font-weight: 300;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 30px;
    }
    .icons img{
        width: 22px;
    }
    #canT{
        width: 25px;
    }
}

